<main class="col-md-12 main-text">
    <h1 class="animated bounceInDown">nevil george</h1>
    <h3>computer science at northwestern university</h3>

    <div class="icons">
        <a href="http://linkedin.com/in/nevilgeorge" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://twitter.com/nevilsgeorge" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://github.com/nevilgeorge" target="_blank"><i class="fa fa-github-square"></i></a>
    </div>

</main>
